/* Add your desired styles here */
.gwt-DisclosurePanel gwt-DisclosurePanel-open{
    background-color: rgb(28,52,58);
    width: 100%;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 10px;
    table-layout: fixed;
    border-color: #545b5e;
}


